<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Register{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

{% block body %}
    register<br><br>
<form method="POST" action="{{ path('app_user_registeruser') }}">

{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
