
{% block body %}

    <div>You are not logged in, <a href="/register"><button>please register</button></a> or <a href="/login"><button>log in</button><div>
                <div><a href="/"><button>back to main page</button></a></div>
{% endblock %}